
.card{
    border-radius: 8px;
    /* padding: 8px; */
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 8px #003cff;
    color: black;
}

.card img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }