

.container{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/728/195/non_2x/cinema-screen-for-movie-presentation-light-abstract-technology-background-for-computer-graphic-website-internet-and-business-dark-blue-background-pixel-mosaic-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}